@tailwind base; /*  base styles (e.g. reset, normalize, etc.) */
@tailwind components; /*  component styles (e.g. buttons, forms, etc.) */
@tailwind utilities; /*  utility styles (e.g. margin, padding, etc.) */

@layer components {
  .btn-primary {
    @apply border-0 p-2 px-6 bg-slate-100 rounded-mdl;
  }
}
